# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Environment
.env
.env.local 